<h1>Home#index</h1>

<a href="http://localhost:3000/home/about">About</a>

<a href="http://localhost:3000/friends">show friends</a>

<a href="http://localhost:3000/friends/new">add friend</a>
<p>Find me in app/views/home/index.html.erb</p>
